## Flight Ticket Price Prediction

In [1]:
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
sns.set()
import pickle

In [5]:
df=pd.read_excel(r'E:\GitHub_Repositories\Flight-Tickets-Price-Prediction\Data_Train.xlsx')

In [6]:
df.head(5)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [7]:
 pd.set_option('display.max_columns',None)

In [8]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [9]:
df.shape

(10683, 11)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [8]:
df.dropna(inplace=True)

In [9]:
df.shape

(10682, 11)

In [10]:
df.head(5)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [11]:
df['Airline'].value_counts()

Jet Airways                          3849
IndiGo                               2053
Air India                            1751
Multiple carriers                    1196
SpiceJet                              818
Vistara                               479
Air Asia                              319
GoAir                                 194
Multiple carriers Premium economy      13
Jet Airways Business                    6
Vistara Premium economy                 3
Trujet                                  1
Name: Airline, dtype: int64

In [12]:
df['Source'].value_counts()

Delhi       4536
Kolkata     2871
Banglore    2197
Mumbai       697
Chennai      381
Name: Source, dtype: int64

In [13]:
df['Destination'].value_counts()

Cochin       4536
Banglore     2871
Delhi        1265
New Delhi     932
Hyderabad     697
Kolkata       381
Name: Destination, dtype: int64

In [14]:
### Preprcessing for Data_of_Journey
df['Day_of_Journey']=pd.to_datetime(df.Date_of_Journey, format="%d/%m/%Y" ).dt.day
df['Month_of_Journey']=pd.to_datetime(df.Date_of_Journey, format="%d/%m/%Y" ).dt.month
#df['Day_of_week']=pd.to_datetime(df.Date_of_Journey, format="%d/%m/%Y" ).dt.dayofweek
df.drop(['Date_of_Journey'],axis=1,inplace=True)

In [15]:
###Preprcessing for Dept time
df['Dep_Hour']=pd.to_datetime(df['Dep_Time'] ).dt.hour
df['Dep_Min']=pd.to_datetime(df['Dep_Time'] ).dt.minute
df.drop(['Dep_Time'],axis=1,inplace=True)

In [16]:
##Preprocessing for Arrival Time
df['Arrival_Hour']=pd.to_datetime(df['Arrival_Time'] ).dt.hour
df['Arrival_Min']=pd.to_datetime(df['Arrival_Time'] ).dt.minute
df.drop(['Arrival_Time'],axis=1,inplace=True)

In [17]:
df.head(2)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Day_of_Journey,Month_of_Journey,Dep_Hour,Dep_Min,Arrival_Hour,Arrival_Min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897,24,3,22,20,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662,1,5,5,50,13,15

In [18]:
## Preprocessing for Duration
new = df['Duration'].str.split(" ", n = 2, expand = True)
  # making separate Hours column from new data frame
df["Duration_Hours"]= new[0]
  # making separate Minutes column from new data frame
df["Duration_Minutes"]= new[1]
#Removing letters from string
df["Duration_Hours"] = df["Duration_Hours"].str.replace(r'\D', '')
df["Duration_Minutes"] = df["Duration_Minutes"].str.replace(r'\D', '')

<ipython-input-18-227878236e93>:8: FutureWarning: The default value of regex will change from True to False in a future version.
  df["Duration_Hours"] = df["Duration_Hours"].str.replace(r'\D', '')
<ipython-input-18-227878236e93>:9: FutureWarning: The default value of regex will change from True to False in a future version.
  df["Duration_Minutes"] = df["Duration_Minutes"].str.replace(r'\D', '')

In [19]:
df['Duration_Minutes'] = df['Duration_Minutes'].fillna(0)
df["Duration_Hours"] = df["Duration_Hours"].astype(int)
df["Duration_Minutes"] = df["Duration_Minutes"].astype(int)
df.drop(["Duration"], axis = 1, inplace = True)

In [20]:
df.head(5)

,Airline,Source,Destination,Route,Total_Stops,Additional_Info,Price,Day_of_Journey,Month_of_Journey,Dep_Hour,Dep_Min,Arrival_Hour,Arrival_Min,Duration_Hours,Duration_Minutes
0,IndiGo,Banglore,New Delhi,BLR → DEL,non-stop,No info,3897,24,3,22,20,1,10,2,50
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,2 stops,No info,7662,1,5,5,50,13,15,7,25
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,2 stops,No info,13882,9,6,9,25,4,25,19,0
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,1 stop,No info,6218,12,5,18,5,23,30,5,25
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,1 stop,No info,13302,1,3,16,50,21,35,4,45

# Nominal data --> Data not in order -->OneHotEncoder is used
# Ordinal data --> Data in order -->LabelEncode is used

In [21]:
df['Airline'].value_counts()

Jet Airways                          3849
IndiGo                               2053
Air India                            1751
Multiple carriers                    1196
SpiceJet                              818
Vistara                               479
Air Asia                              319
GoAir                                 194
Multiple carriers Premium economy      13
Jet Airways Business                    6
Vistara Premium economy                 3
Trujet                                  1
Name: Airline, dtype: int64

In [22]:
df.drop(['Route','Additional_Info'],axis=1,inplace=True)

In [23]:
df['Total_Stops'].value_counts()

1 stop      5625
non-stop    3491
2 stops     1520
3 stops       45
4 stops        1
Name: Total_Stops, dtype: int64

In [24]:
df['Total_Stops']=df['Total_Stops'].replace({'non-stop':0,'1 stop':1,'2 stops':2,'3 stops':3,'4 stops':4})

In [25]:
df_Airline=pd.get_dummies(df['Airline'], prefix="Airline")
df_Source=pd.get_dummies(df['Source'], prefix="Source")
df_Destination=pd.get_dummies(df['Destination'], prefix="Destination")
df = pd.concat([df, df_Airline,df_Source,df_Destination ], axis=1)
df.drop(['Airline','Destination','Source'],axis=1,inplace=True)

In [26]:
df.head(4)

,Total_Stops,Price,Day_of_Journey,Month_of_Journey,Dep_Hour,Dep_Min,Arrival_Hour,Arrival_Min,Duration_Hours,Duration_Minutes,Airline_Air Asia,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,Airline_Trujet,Airline_Vistara,Airline_Vistara Premium economy,Source_Banglore,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Banglore,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,0,3897,24,3,22,20,1,10,2,50,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1
1,2,7662,1,5,5,50,13,15,7,25,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0
2,2,13882,9,6,9,25,4,25,19,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
3,1,6218,12,5,18,5,23,30,5,25,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0

In [27]:
df.columns

Index(['Total_Stops', 'Price', 'Day_of_Journey', 'Month_of_Journey',
       'Dep_Hour', 'Dep_Min', 'Arrival_Hour', 'Arrival_Min', 'Duration_Hours',
       'Duration_Minutes', 'Airline_Air Asia', 'Airline_Air India',
       'Airline_GoAir', 'Airline_IndiGo', 'Airline_Jet Airways',
       'Airline_Jet Airways Business', 'Airline_Multiple carriers',
       'Airline_Multiple carriers Premium economy', 'Airline_SpiceJet',
       'Airline_Trujet', 'Airline_Vistara', 'Airline_Vistara Premium economy',
       'Source_Banglore', 'Source_Chennai', 'Source_Delhi', 'Source_Kolkata',
       'Source_Mumbai', 'Destination_Banglore', 'Destination_Cochin',
       'Destination_Delhi', 'Destination_Hyderabad', 'Destination_Kolkata',
       'Destination_New Delhi'],
      dtype='object')

In [28]:
df_for_corr=df[['Total_Stops', 'Price', 'Day_of_Journey', 'Month_of_Journey',
       'Dep_Hour', 'Dep_Min', 'Arrival_Hour', 'Arrival_Min', 'Duration_Hours',
       'Duration_Minutes', 'Airline_Air Asia', 'Airline_Air India',
       'Airline_GoAir', 'Airline_IndiGo', 'Airline_Jet Airways',
       'Airline_Jet Airways Business', 'Airline_Multiple carriers',
       'Airline_Multiple carriers Premium economy', 'Airline_SpiceJet',
       'Airline_Trujet', 'Airline_Vistara', 'Airline_Vistara Premium economy',
       'Source_Banglore', 'Source_Chennai', 'Source_Delhi', 'Source_Kolkata',
       'Source_Mumbai', 'Destination_Banglore', 'Destination_Cochin',
       'Destination_Delhi', 'Destination_Hyderabad', 'Destination_Kolkata',
       'Destination_New Delhi']]

In [29]:
df.shape

(10682, 33)

# Test Data

In [30]:
df_test=pd.read_excel(r'C:\Users\prana\Downloads\Pranav_New\Test_set.xlsx')

In [31]:
df_test.head(4)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info

In [32]:
df_test.shape

(2671, 10)

# All the preprocessing on test data

In [33]:
df_test.dropna(inplace=True)

df_test['Day_of_Journey']=pd.to_datetime(df_test.Date_of_Journey, format="%d/%m/%Y" ).dt.day
df_test['Month_of_Journey']=pd.to_datetime(df_test.Date_of_Journey, format="%d/%m/%Y" ).dt.month
#df_test['Day_of_week']=pd.to_datetime(df_test.Date_of_Journey, format="%d/%m/%Y" ).dt.dayofweek
df_test.drop(['Date_of_Journey'],axis=1,inplace=True)



df_test['Dep_Hour']=pd.to_datetime(df_test['Dep_Time'] ).dt.hour
df_test['Dep_Min']=pd.to_datetime(df_test['Dep_Time'] ).dt.minute
df_test.drop(['Dep_Time'],axis=1,inplace=True)


df_test['Arrival_Hour']=pd.to_datetime(df_test['Arrival_Time'] ).dt.hour
df_test['Arrival_Min']=pd.to_datetime(df_test['Arrival_Time'] ).dt.minute
df_test.drop(['Arrival_Time'],axis=1,inplace=True)

In [34]:
df_test.head(2)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Day_of_Journey,Month_of_Journey,Dep_Hour,Dep_Min,Arrival_Hour,Arrival_Min
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,10h 55m,1 stop,No info,6,6,17,30,4,25
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,4h,1 stop,No info,12,5,6,20,10,20

In [35]:
df_test['Airline'].value_counts()

Jet Airways                          897
IndiGo                               511
Air India                            440
Multiple carriers                    347
SpiceJet                             208
Vistara                              129
Air Asia                              86
GoAir                                 46
Multiple carriers Premium economy      3
Vistara Premium economy                2
Jet Airways Business                   2
Name: Airline, dtype: int64

In [36]:
### Preprocessing of Duration on test data 
new=df_test['Duration'].str.split(" ",n=2,expand=True)
df_test['Duration_Hours']=new[0]
df_test["Duration_Minutes"]= new[1]
df_test["Duration_Hours"] = df_test["Duration_Hours"].str.replace(r'\D', '')
df_test["Duration_Minutes"] = df_test["Duration_Minutes"].str.replace(r'\D', '')

<ipython-input-36-4240ed312da6>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  df_test["Duration_Hours"] = df_test["Duration_Hours"].str.replace(r'\D', '')
<ipython-input-36-4240ed312da6>:6: FutureWarning: The default value of regex will change from True to False in a future version.
  df_test["Duration_Minutes"] = df_test["Duration_Minutes"].str.replace(r'\D', '')

In [37]:
df_test['Duration_Minutes'] = df_test['Duration_Minutes'].fillna(0)
df_test["Duration_Hours"] = df_test["Duration_Hours"].astype(int)
df_test["Duration_Minutes"] = df_test["Duration_Minutes"].astype(int)
df_test.drop(["Duration"], axis = 1, inplace = True)

In [38]:
df_test.drop(['Route','Additional_Info'],axis=1,inplace=True)

In [39]:
df_test['Total_Stops'].value_counts()

1 stop      1431
non-stop     849
2 stops      379
3 stops       11
4 stops        1
Name: Total_Stops, dtype: int64

In [40]:
df_test['Total_Stops']=df_test['Total_Stops'].replace({'non-stop':0,'1 stop':1,'2 stops':2,'3 stops':3,'4 stops':4})

In [41]:
df_Airline=pd.get_dummies(df_test['Airline'], prefix="Airline")
df_Source=pd.get_dummies(df_test['Source'], prefix="Source")
df_Destination=pd.get_dummies(df_test['Destination'], prefix="Destination")
df_test = pd.concat([df_test, df_Airline,df_Source,df_Destination ], axis=1)
df_test.drop(['Airline','Destination','Source'],axis=1,inplace=True)

In [42]:
df_test.head(4)

,Total_Stops,Day_of_Journey,Month_of_Journey,Dep_Hour,Dep_Min,Arrival_Hour,Arrival_Min,Duration_Hours,Duration_Minutes,Airline_Air Asia,Airline_Air India,Airline_GoAir,Airline_IndiGo,Airline_Jet Airways,Airline_Jet Airways Business,Airline_Multiple carriers,Airline_Multiple carriers Premium economy,Airline_SpiceJet,Airline_Vistara,Airline_Vistara Premium economy,Source_Banglore,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Banglore,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Destination_New Delhi
0,1,6,6,17,30,4,25,10,55,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
1,1,12,5,6,20,10,20,4,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0
2,1,21,5,19,15,19,0,23,45,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
3,1,21,5,8,0,21,0,13,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0

In [43]:
df_test.shape

(2671, 31)

In [44]:
df_test.columns

Index(['Total_Stops', 'Day_of_Journey', 'Month_of_Journey', 'Dep_Hour',
       'Dep_Min', 'Arrival_Hour', 'Arrival_Min', 'Duration_Hours',
       'Duration_Minutes', 'Airline_Air Asia', 'Airline_Air India',
       'Airline_GoAir', 'Airline_IndiGo', 'Airline_Jet Airways',
       'Airline_Jet Airways Business', 'Airline_Multiple carriers',
       'Airline_Multiple carriers Premium economy', 'Airline_SpiceJet',
       'Airline_Vistara', 'Airline_Vistara Premium economy', 'Source_Banglore',
       'Source_Chennai', 'Source_Delhi', 'Source_Kolkata', 'Source_Mumbai',
       'Destination_Banglore', 'Destination_Cochin', 'Destination_Delhi',
       'Destination_Hyderabad', 'Destination_Kolkata',
       'Destination_New Delhi'],
      dtype='object')

In [53]:
X = X.astype(str).astype(int)

In [54]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 42)

In [55]:
X_train.columns

Index(['Airline_Air Asia', 'Airline_Air India', 'Airline_GoAir',
       'Airline_IndiGo', 'Airline_Jet Airways', 'Airline_Jet Airways Business',
       'Airline_Multiple carriers',
       'Airline_Multiple carriers Premium economy', 'Airline_SpiceJet',
       'Airline_Trujet', 'Airline_Vistara', 'Airline_Vistara Premium economy',
       'Arrival_Hour', 'Arrival_Min', 'Day_of_Journey', 'Dep_Hour', 'Dep_Min',
       'Destination_Banglore', 'Destination_Cochin', 'Destination_Delhi',
       'Destination_Hyderabad', 'Destination_Kolkata', 'Destination_New Delhi',
       'Duration_Hours', 'Duration_Minutes', 'Month_of_Journey',
       'Source_Banglore', 'Source_Chennai', 'Source_Delhi', 'Source_Kolkata',
       'Source_Mumbai', 'Total_Stops'],
      dtype='object')

In [56]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn import metrics
! pip install xgboost
import xgboost as xgb
from sklearn.metrics import r2_score,make_scorer
from sklearn.model_selection import cross_val_score

Collecting xgboost
  Using cached xgboost-1.5.2-py3-none-win_amd64.whl (106.6 MB)
Requirement already satisfied: scipy in c:\users\prana\appdata\roaming\python\python38\site-packages (from xgboost) (1.5.4)
Collecting numpy
  Downloading numpy-1.22.3-cp38-cp38-win_amd64.whl (14.7 MB)
Installing collected packages: numpy, xgboost
Successfully installed numpy-1.22.3 xgboost-1.5.2

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
yellowbrick 1.3.post1 requires cycler>=0.10.0, which is not installed.
yellowbrick 1.3.post1 requires matplotlib!=3.0.0,>=2.0.2, which is not installed.
visions 0.7.4 requires attrs>=19.3.0, which is not installed.
visions 0.7.4 requires pandas>=0.25.3, which is not installed.
umap-learn 0.5.2 requires numba>=0.49, which is not installed.
umap-learn 0.5.2 requires tqdm, which is not installed.
thinc 7.4.5 requires tqdm<5.0.0,>=4.10.0, which is not installed.
spacy 2.3.7 requires requests<3.0.0,>=2.13.0, which is not installed.
spacy 2.3.7 requires tqdm<5.0.0,>=4.38.0, which is not installed.
scikit-plot 0.3.7 requires joblib>=0.10, which is not installed.
scikit-plot 0.3.7 requires matplotlib>=1.4.0, which is not installed.
scikit-learn 0.23.2 requires joblib>=0.11, which is not installed.
scikit-learn 0.23.2 requires threadpoolctl>=2.0.0, which is not installed.
pyod 0.9.7 requires joblib, which is not installed.
pyod 0.9.7 requires matplotlib, which is not installed.
pyod 0.9.7 requires numba>=0.35, which is not installed.
pyod 0.9.7 requires six, which is not installed.
pyod 0.9.7 requires statsmodels, which is not installed.
pynndescent 0.5.6 requires joblib>=0.11, which is not installed.
pynndescent 0.5.6 requires llvmlite>=0.30, which is not installed.
pynndescent 0.5.6 requires numba>=0.51.2, which is not installed.
pyldavis 3.2.2 requires future, which is not installed.
pyldavis 3.2.2 requires jinja2>=2.7.2, which is not installed.
pyldavis 3.2.2 requires joblib>=0.8.4, which is not installed.
pyldavis 3.2.2 requires numexpr, which is not installed.
pyldavis 3.2.2 requires pandas>=0.17.0; python_version > "3.5", which is not installed.
pycaret 2.3.6 requires cufflinks>=0.17.0, which is not installed.
pycaret 2.3.6 requires IPython, which is not installed.
pycaret 2.3.6 requires ipywidgets, which is not installed.
pycaret 2.3.6 requires joblib, which is not installed.
pycaret 2.3.6 requires matplotlib, which is not installed.
pycaret 2.3.6 requires nltk, which is not installed.
pycaret 2.3.6 requires pandas, which is not installed.
pycaret 2.3.6 requires plotly>=4.4.1, which is not installed.
pycaret 2.3.6 requires pyyaml<6.0.0, which is not installed.
pycaret 2.3.6 requires seaborn, which is not installed.
pycaret 2.3.6 requires wordcloud, which is not installed.
phik 0.12.0 requires joblib>=0.14.1, which is not installed.
phik 0.12.0 requires matplotlib>=2.2.3, which is not installed.
phik 0.12.0 requires pandas>=0.25.1, which is not installed.
pandas-profiling 3.1.0 requires jinja2>=2.11.1, which is not installed.
pandas-profiling 3.1.0 requires joblib~=1.0.1, which is not installed.
pandas-profiling 3.1.0 requires markupsafe~=2.0.1, which is not installed.
pandas-profiling 3.1.0 requires matplotlib>=3.2.0, which is not installed.
pandas-profiling 3.1.0 requires pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3, which is not installed.
pandas-profiling 3.1.0 requires PyYAML>=5.0.0, which is not installed.
pandas-profiling 3.1.0 requires requests>=2.24.0, which is not installed.
pandas-profiling 3.1.0 requires seaborn>=0.10.1, which is not installed.
pandas-profiling 3.1.0 requires tqdm>=4.48.2, which is not installed.
mlxtend 0.19.0 requires joblib>=0.13.2, which is not installed.
mlxtend 0.19.0 requires matplotlib>=3.0.0, which is not installed.
mlxtend 0.19.0 requires pandas>=0.24.2, which is not installed.
mlflow 1.23.0 requires click>=7.0, which is not installed.
mlflow 1.23.0 requires cloudpickle, which is not installed.
mlflow 1.23.0 requires entrypoints, which is not installed.
mlflow 1.23.0 requires Flask, which is not installed.
mlflow 1.23.0 requires importlib-metadata!=4.7.0,>=3.7.0, which is not installed.
mlflow 1.23.0 requires packaging, which is not installed.
mlflow 1.23.0 requires pandas, which is not installed.
mlflow 1.23.0 requires protobuf>=3.7.0, which is not installed.
mlflow 1.23.0 requires pytz, which is not installed.
mlflow 1.23.0 requires pyyaml>=5.1, which is not installed.
mlflow 1.23.0 requires requests>=2.17.3, which is not installed.
mlflow 1.23.0 requires sqlalchemy, which is not installed.
missingno 0.5.0 requires matplotlib, which is not installed.
missingno 0.5.0 requires seaborn, which is not installed.
kmodes 0.11.1 requires joblib>=0.11, which is not installed.
imbalanced-learn 0.7.0 requires joblib>=0.11, which is not installed.
imagehash 4.2.1 requires pillow, which is not installed.
imagehash 4.2.1 requires PyWavelets, which is not installed.
imagehash 4.2.1 requires six, which is not installed.
gensim 3.8.3 requires six>=1.5.0, which is not installed.
yellowbrick 1.3.post1 requires numpy<1.20,>=1.16.0, but you have numpy 1.22.3 which is incompatible.
C:\Users\prana\anaconda3\lib\site-packages\xgboost\compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

In [57]:
regg_models = [LinearRegression(), Lasso(), Ridge(), SVR(),
               RandomForestRegressor(), xgb.XGBRegressor()]

In [58]:
R2_score = []
Score_Train=[]
Score_Test=[]
RMSE = []
MAE=[]
Error=[]
MSE=[]
mean=[]
std=[]
    
#Making ditonary to plot bar graph
# R2_score_df=()
R2_score_dict = {}
RMSE_score_dict = {}
MAE_score_dict = {}
MSE_score_dict={}
Score_Train__dict={}
Score_Test__dict={}
Cross_Valication_score_dict={}

for i in regg_models:    
    train_model = i.fit(X_train, y_train)
    y_pred = train_model.predict(X_test)
    # score = train_model.score(X_test, y_test)
    # r2_score.append(score)
    #R2Score
    r2score=metrics.r2_score(y_test,y_pred) # (coefficient of determination) regression score function
    R2_score.append(r2score)
    #Score training dataset
    scoretrain=train_model.score(X_train,y_train)
    Score_Train.append(scoretrain)
    #Score training dataset
    scoretest=train_model.score(X_test,y_test)
    Score_Test.append(scoretest)
    
    #Normaized RMSE
    rmse = np.sqrt(metrics.mean_squared_error(y_test,y_pred))/(max(y)-min(y))
    RMSE.append(rmse)   
    #MSE
    mse = metrics.mean_squared_error(y_test, y_pred)
    MSE.append(mse)   
    #MAE
    mae=metrics.mean_absolute_error(y_test,y_pred)
    MAE.append(mae)
    #Cross validation score
    cvs=cross_val_score(i,X,y,cv=5,scoring=make_scorer(r2_score))
    mean.append(np.mean(cvs))
    std.append(np.std(cvs))
    #Error
    # errr = [((y_pred[i]-y_test[i])/(y_test[i])) for i in range(0,len(y_test))]
    # errr = [((y_prediction[i]-actual[i])/(actual[i])) for i in range(0,len(y_test))]
    # Error.append(errr)    



for i in range(len(regg_models)):
    print(regg_models[i].__class__.__name__ ,':',R2_score[i])
    R2_score_dict.update({regg_models[i].__class__.__name__: R2_score[i]})


for i in range(len(regg_models)):
    print(regg_models[i].__class__.__name__ ,':',Score_Train[i])
    Score_Train__dict.update({regg_models[i].__class__.__name__:Score_Train[i]})


for i in range(len(regg_models)):
    print(regg_models[i].__class__.__name__ ,':',Score_Test[i])
    Score_Test__dict.update({regg_models[i].__class__.__name__:Score_Test[i]})

for i in range(len(regg_models)):
    print(regg_models[i].__class__.__name__ ,':',RMSE[i])
    RMSE_score_dict.update({regg_models[i].__class__.__name__:RMSE[i]})


for i in range(len(regg_models)):
    print(regg_models[i].__class__.__name__ ,':',MSE[i])
    MSE_score_dict.update({regg_models[i].__class__.__name__:MSE[i]})


for i in range(len(regg_models)):
    print(regg_models[i].__class__.__name__ ,':',MAE[i])
    MAE_score_dict.update({regg_models[i].__class__.__name__ :MAE[i]})



for i in range(len(regg_models)):
    print(regg_models[i].__class__.__name__ ,':',mean[i])
    Cross_Valication_score_dict.update({regg_models[i].__class__.__name__ :MAE[i]})

C:\Users\prana\AppData\Roaming\Python\Python38\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 20832158.44655609, tolerance: 18182450.07652315
  model = cd_fast.enet_coordinate_descent(
C:\Users\prana\AppData\Roaming\Python\Python38\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 28564833.83205414, tolerance: 18188685.694065303
  model = cd_fast.enet_coordinate_descent(
C:\Users\prana\anaconda3\lib\site-packages\xgboost\data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
C:\Users\prana\anaconda3\lib\site-packages\xgboost\data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
C:\Users\prana\anaconda3\lib\site-packages\xgboost\data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
C:\Users\prana\anaconda3\lib\site-packages\xgboost\data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
C:\Users\prana\anaconda3\lib\site-packages\xgboost\data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
C:\Users\prana\anaconda3\lib\site-packages\xgboost\data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
C:\Users\prana\anaconda3\lib\site-packages\xgboost\data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
C:\Users\prana\anaconda3\lib\site-packages\xgboost\data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

                                         Training Data
 ====================================================================================================
r2_score
----------------------------------------

LinearRegression : 0.619917594254104
Lasso : 0.619700528618171
Ridge : 0.6192638430418819
SVR : 0.004193868064652828
RandomForestRegressor : 0.801168580768128
XGBRegressor : 0.8481599071572186
----------------------------------------------------------------------------------------------------

Score Train
----------------------------------------

LinearRegression : 0.6241796061354631
Lasso : 0.6239441735823266
Ridge : 0.6226144208981809
SVR : 9.173156943498295e-05
RandomForestRegressor : 0.9536217128637111
XGBRegressor : 0.9356888855382043
----------------------------------------------------------------------------------------------------

Score Test
----------------------------------------

LinearRegression : 0.619917594254104
Lasso : 0.619700528618171
Ridge : 0.6192638430418819
SVR : 0.004193868064652828
RandomForestRegressor : 0.801168580768128
XGBRegressor : 0.8481599071572186
----------------------------------------------------------------------------------------------------

Normalized RMSE
----------------------------------------

LinearRegression : 0.03599917999811651
Lasso : 0.036009458123894646
Ridge : 0.03603012644014618
SVR : 0.05826947743622862
RandomForestRegressor : 0.02603731705183782
XGBRegressor : 0.022753434255839488
----------------------------------------------------------------------------------------------------

MSE
----------------------------------------

LinearRegression : 7834648.6708765
Lasso : 7839123.050564551
Ridge : 7848124.46188521
SVR : 20526578.105364393
RandomForestRegressor : 4098517.297469758
XGBRegressor : 3129883.845167455
----------------------------------------------------------------------------------------------------

MAE
----------------------------------------

LinearRegression : 1949.4078645638338
Lasso : 1949.0470986830344
Ridge : 1952.6941639323607
SVR : 3518.1373347008494
RandomForestRegressor : 1155.5558217211155
XGBRegressor : 1144.7350809146562
----------------------------------------------------------------------------------------------------

________________Cross Validation Score________________

----------------------------------------

LinearRegression : -1.784890670313057e+19
Lasso : 0.6197439886542369
Ridge : 0.6187979309115307
SVR : 0.003581517632878883
RandomForestRegressor : 0.8129500454941987
XGBRegressor : 0.8454262640887114

In [59]:
from sklearn.model_selection import RandomizedSearchCV

In [60]:
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 100, stop = 1200, num = 12)]
max_features = ['auto', 'sqrt']
max_depth = [int(x) for x in np.linspace(5, 30, num = 6)]
min_samples_split = [2, 5, 10, 15, 100]
min_samples_leaf = [1, 2, 5, 10]

# Create the random grid

random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf}
# Random search of parameters, using 5 fold cross validation, 
# search across 100 different combinations
reg_rf = RandomForestRegressor()
rf_random = RandomizedSearchCV(estimator = reg_rf, param_distributions = random_grid,scoring='neg_mean_squared_error', n_iter = 10, cv = 5, verbose=2, random_state=42, n_jobs = 1)          
rf_random.fit(X_train,y_train)
rf_random.best_params_
pred = rf_random.predict(X_test)

Fitting 5 folds for each of 10 candidates, totalling 50 fits
[CV] n_estimators=900, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=10

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV]  n_estimators=900, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=10, total=  12.0s
[CV] n_estimators=900, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=10

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   11.9s remaining:    0.0s

[CV]  n_estimators=900, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=10, total=   7.1s
[CV] n_estimators=900, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=10
[CV]  n_estimators=900, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=10, total=   4.6s
[CV] n_estimators=900, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=10
[CV]  n_estimators=900, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=10, total=   5.8s
[CV] n_estimators=900, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=10
[CV]  n_estimators=900, min_samples_split=5, min_samples_leaf=5, max_features=sqrt, max_depth=10, total=   5.8s
[CV] n_estimators=1100, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=15
[CV]  n_estimators=1100, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=15, total=   9.0s
[CV] n_estimators=1100, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=15
[CV]  n_estimators=1100, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=15, total=  10.5s
[CV] n_estimators=1100, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=15
[CV]  n_estimators=1100, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=15, total=   9.5s
[CV] n_estimators=1100, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=15
[CV]  n_estimators=1100, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=15, total=   8.7s
[CV] n_estimators=1100, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=15
[CV]  n_estimators=1100, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=15, total=   9.0s
[CV] n_estimators=300, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=300, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15, total=   5.6s
[CV] n_estimators=300, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=300, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15, total=   5.5s
[CV] n_estimators=300, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=300, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15, total=   9.4s
[CV] n_estimators=300, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=300, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15, total=   7.9s
[CV] n_estimators=300, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=300, min_samples_split=100, min_samples_leaf=5, max_features=auto, max_depth=15, total=   7.8s
[CV] n_estimators=400, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=400, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=15, total=  12.9s
[CV] n_estimators=400, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=400, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=15, total=  14.0s
[CV] n_estimators=400, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=400, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=15, total=  14.5s
[CV] n_estimators=400, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=400, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=15, total=  10.3s
[CV] n_estimators=400, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=15
[CV]  n_estimators=400, min_samples_split=5, min_samples_leaf=5, max_features=auto, max_depth=15, total=   6.6s
[CV] n_estimators=700, min_samples_split=5, min_samples_leaf=10, max_features=auto, max_depth=20
[CV]  n_estimators=700, min_samples_split=5, min_samples_leaf=10, max_features=auto, max_depth=20, total=   8.9s
[CV] n_estimators=700, min_samples_split=5, min_samples_leaf=10, max_features=auto, max_depth=20
[CV]  n_estimators=700, min_samples_split=5, min_samples_leaf=10, max_features=auto, max_depth=20, total=   9.1s
[CV] n_estimators=700, min_samples_split=5, min_samples_leaf=10, max_features=auto, max_depth=20
[CV]  n_estimators=700, min_samples_split=5, min_samples_leaf=10, max_features=auto, max_depth=20, total=   8.2s
[CV] n_estimators=700, min_samples_split=5, min_samples_leaf=10, max_features=auto, max_depth=20
[CV]  n_estimators=700, min_samples_split=5, min_samples_leaf=10, max_features=auto, max_depth=20, total=   7.5s
[CV] n_estimators=700, min_samples_split=5, min_samples_leaf=10, max_features=auto, max_depth=20
[CV]  n_estimators=700, min_samples_split=5, min_samples_leaf=10, max_features=auto, max_depth=20, total=   8.6s
[CV] n_estimators=1000, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=25
[CV]  n_estimators=1000, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=25, total=   6.8s
[CV] n_estimators=1000, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=25
[CV]  n_estimators=1000, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=25, total=   6.9s
[CV] n_estimators=1000, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=25
[CV]  n_estimators=1000, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=25, total=   8.8s
[CV] n_estimators=1000, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=25
[CV]  n_estimators=1000, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=25, total=   7.9s
[CV] n_estimators=1000, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=25
[CV]  n_estimators=1000, min_samples_split=2, min_samples_leaf=1, max_features=sqrt, max_depth=25, total=   9.0s
[CV] n_estimators=1100, min_samples_split=15, min_samples_leaf=10, max_features=sqrt, max_depth=5
[CV]  n_estimators=1100, min_samples_split=15, min_samples_leaf=10, max_features=sqrt, max_depth=5, total=   4.0s
[CV] n_estimators=1100, min_samples_split=15, min_samples_leaf=10, max_features=sqrt, max_depth=5
[CV]  n_estimators=1100, min_samples_split=15, min_samples_leaf=10, max_features=sqrt, max_depth=5, total=   4.9s
[CV] n_estimators=1100, min_samples_split=15, min_samples_leaf=10, max_features=sqrt, max_depth=5
[CV]  n_estimators=1100, min_samples_split=15, min_samples_leaf=10, max_features=sqrt, max_depth=5, total=   4.2s
[CV] n_estimators=1100, min_samples_split=15, min_samples_leaf=10, max_features=sqrt, max_depth=5
[CV]  n_estimators=1100, min_samples_split=15, min_samples_leaf=10, max_features=sqrt, max_depth=5, total=   3.2s
[CV] n_estimators=1100, min_samples_split=15, min_samples_leaf=10, max_features=sqrt, max_depth=5
[CV]  n_estimators=1100, min_samples_split=15, min_samples_leaf=10, max_features=sqrt, max_depth=5, total=   3.1s
[CV] n_estimators=300, min_samples_split=15, min_samples_leaf=1, max_features=sqrt, max_depth=15
[CV]  n_estimators=300, min_samples_split=15, min_samples_leaf=1, max_features=sqrt, max_depth=15, total=   1.6s
[CV] n_estimators=300, min_samples_split=15, min_samples_leaf=1, max_features=sqrt, max_depth=15
[CV]  n_estimators=300, min_samples_split=15, min_samples_leaf=1, max_features=sqrt, max_depth=15, total=   1.5s
[CV] n_estimators=300, min_samples_split=15, min_samples_leaf=1, max_features=sqrt, max_depth=15
[CV]  n_estimators=300, min_samples_split=15, min_samples_leaf=1, max_features=sqrt, max_depth=15, total=   1.6s
[CV] n_estimators=300, min_samples_split=15, min_samples_leaf=1, max_features=sqrt, max_depth=15
[CV]  n_estimators=300, min_samples_split=15, min_samples_leaf=1, max_features=sqrt, max_depth=15, total=   1.6s
[CV] n_estimators=300, min_samples_split=15, min_samples_leaf=1, max_features=sqrt, max_depth=15
[CV]  n_estimators=300, min_samples_split=15, min_samples_leaf=1, max_features=sqrt, max_depth=15, total=   1.6s
[CV] n_estimators=700, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=5

[CV]  n_estimators=700, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=5, total=   2.0s
[CV] n_estimators=700, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=5
[CV]  n_estimators=700, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=5, total=   2.0s
[CV] n_estimators=700, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=5
[CV]  n_estimators=700, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=5, total=   2.1s
[CV] n_estimators=700, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=5
[CV]  n_estimators=700, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=5, total=   2.1s
[CV] n_estimators=700, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=5
[CV]  n_estimators=700, min_samples_split=10, min_samples_leaf=2, max_features=sqrt, max_depth=5, total=   2.0s
[CV] n_estimators=700, min_samples_split=15, min_samples_leaf=1, max_features=auto, max_depth=20
[CV]  n_estimators=700, min_samples_split=15, min_samples_leaf=1, max_features=auto, max_depth=20, total=  18.6s
[CV] n_estimators=700, min_samples_split=15, min_samples_leaf=1, max_features=auto, max_depth=20
[CV]  n_estimators=700, min_samples_split=15, min_samples_leaf=1, max_features=auto, max_depth=20, total=  18.9s
[CV] n_estimators=700, min_samples_split=15, min_samples_leaf=1, max_features=auto, max_depth=20
[CV]  n_estimators=700, min_samples_split=15, min_samples_leaf=1, max_features=auto, max_depth=20, total=  12.5s
[CV] n_estimators=700, min_samples_split=15, min_samples_leaf=1, max_features=auto, max_depth=20
[CV]  n_estimators=700, min_samples_split=15, min_samples_leaf=1, max_features=auto, max_depth=20, total=  13.6s
[CV] n_estimators=700, min_samples_split=15, min_samples_leaf=1, max_features=auto, max_depth=20
[CV]  n_estimators=700, min_samples_split=15, min_samples_leaf=1, max_features=auto, max_depth=20, total=  13.5s

[Parallel(n_jobs=1)]: Done  50 out of  50 | elapsed:  6.2min finished

In [61]:
print("R2score:",metrics.r2_score(y_test,pred)) # (coefficient of determination) regression score function
#Score training dataset
print("scoretrain:",rf_random.score(X_train,y_train))
#Score training dataset
print("scoretest",rf_random.score(X_test,y_test))
#Normaized RMSE
rmse = np.sqrt(metrics.mean_squared_error(y_test,pred))/(max(y)-min(y))
print("Normaized RMSE:", rmse)
#MSE
print("MSE", metrics.mean_squared_error(y_test, pred))
#MAE
print("MAE:",metrics.mean_absolute_error(y_test,pred))

R2score: 0.8123208498416612
scoretrain: -2244985.8377713794
scoretest -3868635.2804299393
Normaized RMSE: 0.025296575871457998
MSE 3868635.2804299393
MAE: 1152.4411753426102